body {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3 {
  margin: 0;
}

.container {
  max-width: 94%;
  margin: 0 auto;
  @media (min-width: 768px) {
    min-width: 720px;
  }
}
.header {
  background-color: #fff;
}
.header__nav {
  min-height: 88px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__menu {
  width: 153px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* @media (min-width: 768px) {
    width: 180px;
  } */
}
.header__tools {
  width: 118px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__divider_tools {
  width: 2px;
  height: 32px;
  background: #eaeaea;
}
.header__hiden {
  display: none;
}

.services {
  background-color: #f8f8f8;
  padding-top: 24px;
}
.services__divider {
  width: 4px;
  height: 40px;
  background: #41f6d7;
  position: absolute;
  border-radius: 0 4px 4px 0;
}
.services__title {
  font-size: 28px;
  font-family: "TT Lakes Bold";
}
.services__items {
  display: none;
}
.scrool {
  display: flex;
  overflow: auto;
  margin: 24px auto;
}
.scrool::-webkit-scrollbar {
  display: none;
}
.scrool__button {
  background-color: #f8f8f8;
  border: none;
  color: #7e7e82;
  font-size: 16px;
  font-family: "TT Lakes Medium";
  line-height: 24px;
  width: 240px;
  white-space: nowrap;
}
.scrool__button:hover {
  border: 2px solid #b8ffec;
  border-radius: 6px;
  background-color: #fff;
}
.services__text {
  font-size: 14px;
  font-family: "TT Lakes Regular";
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
.services__text_768 {
  display: none;
}
.services__link {
  display: flex;
  align-items: center;
  margin: 16px 0;
}

.services__link_title {
  font-size: 16px;
  font-family: "TT Lakes Medium";
  line-height: 24px;
}
.services__img {
  width: 100%;
  margin-bottom: 34px;
}

.aside {
  display: none;
  position: fixed;
  width: 326px;
  height: 100vh;
  background-color: #fff;
  box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.2),
    -2px 0px 4px 0px rgba(69, 79, 126, 0.02);
  z-index: 1;
}
.aside__container {
  width: 280px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.aside__head {
  display: flex;
  align-items: center;
  padding-top: 19px;
  justify-content: space-between;
}
.aside__icon_logo {
  margin-left: -60px;
}
.aside__menu {
  margin-top: 45px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.aside__button {
  text-align: left;
  border: none;
  background-color: #fff;
  color: #1b1c21;
  font-family: "TT Lakes Medium";
  font-size: 16px;
  transition: 0.2s all;
}
.aside__button:hover {
  color: #7e7e82;
  filter: opacity(70%);
}
.aside__foot {
  margin-bottom: 32px;
}
.foot__icon {
  margin-right: 16px;
}
.foot__contacts {
  margin-top: 16px;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.foot__email {
  text-decoration: none;
  color: #1b1c21;
  font-family: "TT Lakes Medium";
  font-size: 16px;
}
.foot__telephone {
  text-decoration: none;
  color: #1b1c21;
  font-family: "TT Lakes Bold";
  font-size: 24px;
}
.lang__button {
  font-family: "TT Lakes Medium";
  font-size: 16px;
  margin-top: 40px;
  border: none;
  background-color: #fff;
}

.brands {
  background-color: #f8f8f8;
}
.brands__title {
  padding: 16px 4%;
  background: linear-gradient(90deg, #f8f8f8 0%, #fff 100%);
  color: #7e7e82;
  font-family: "TT Lakes Regular";
  font-size: 16px;
  letter-spacing: -0.2px;
  text-transform: uppercase;
}

.swiper {
  margin: 0 20px;
  padding-top: 24px;
  padding-bottom: 66px;
  @media (min-width: 768px) {
    margin: 0;
    padding-bottom: 20px;
  }
}
.swiper-wrapper {
  @media (min-width: 768px) {
    width: 100%;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 224px);
    gap: 16px 23px;
  }
  @media (min-width: 1120px) {
    grid-template-columns: repeat(auto-fit, 240px);
  }
}
.swiper-slide {
  height: 72px;
  box-sizing: border-box;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 6px;
  border: 1px solid #eaeaea;
  background: #fff;
}
.swiper-pagination {
  padding-bottom: 25px;
  @media (min-width: 768px) {
    display: none;
  }
}
.brands__swiper .swiper-pagination-bullet {
  background-color: #b5b6bc;
}
.brands__click {
  display: none;
  font-family: "TT Lakes Medium";
  font-size: 16px;
  @media (min-width: 768px) {
    display: block;
    padding-bottom: 34px;
  }
}
.brands__click_show {
  cursor: pointer;
}
.brands__click_show::before {
  content: url(../icons/expand.svg);
  position: relative;
  top: 8px;
  margin-right: 7px;
}
.brands__click_hide {
  cursor: pointer;
}
.brands__click_hide::before {
  content: url(../icons/expandup.svg);
}

.hidden {
  display: none;
}
